.register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#register-block{
    height: 70%;
}
form{
    display: inline-grid;
    background-color: gray;
    width: 50%;
    text-align: center;
    align-self: center;
    border-radius: 25px 25px;
    
}